body{
    background-color: rgba(0, 0, 0, 0.827);
    overflow: scroll;
    color: white;
    margin: 0px;
    padding: 0px;
}
.tex{
    width: 345px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.597);
    margin-left: 25px;
    border-radius: 18px;
    display:flex;
    box-shadow: 2px 2px 0px 2px black;
}
.search{
    width: 260px;
    height: 47px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.037);
    
}
::placeholder{
    color: white;
    font-weight: bolder;
    font-stretch:ultra-expanded;
    word-spacing: 3px;
    padding-left: 105px;
}
.ico{
    fill: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.main{
    margin-top: 20px;
}
.one{
    width: 165px;
    height: 200px;
    background-image: url("tree.jpg");
   
    margin-left: 25px;
    border-radius: 20px;
    float: left;
    margin-bottom: 28px;
}
.two{
    width: 165px;
    height: 200px;
    background-image: url("tree.jpg");
    margin-left: 20px;
    border-radius: 20px;
    float: left;
    margin-bottom: 28px;
}
.love{
    fill: red;
    margin-top: 10px;
    margin-left: 120px;
}
.round{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: yellow;
    margin-top: 136px;
    margin-left: 60px;
}
.akshu{
    margin-top: 10px;
    margin-left: 10px;
}
.fix{
    width: 410px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.964);
    top: 92%;
    position: fixed;
    margin: 0px;
    padding: 0px;
}
.home{
    fill: white;
    margin-top: 10px;
    margin-left: 40px;
}
.luv{
    margin-top: 10px;
    fill: white;
    margin-left: 115px;
}
.ticket{
    margin-top: 10px;
    fill: white;
    margin-left: 110px;
}


